<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>regression</td><td>SolDevVersionControlTest.createBranch(com.zinier.api.data.modals.BranchCreationModal)[pri:0, instance:com.zinier.web.tests.api.SolDevVersionControlTest@4ebea12c]<br/>SolDevVersionControlTest.switchBranchTest()[pri:1, instance:com.zinier.web.tests.api.SolDevVersionControlTest@4ebea12c]<br/>SolDevVersionControlTest.LoginTest()[pri:0, instance:com.zinier.web.tests.api.SolDevVersionControlTest@4ebea12c]<br/></td></tr>
<tr><td>sanity</td><td>SolDevVersionControlTest.createBranch(com.zinier.api.data.modals.BranchCreationModal)[pri:0, instance:com.zinier.web.tests.api.SolDevVersionControlTest@4ebea12c]<br/>SolDevVersionControlTest.LoginTest()[pri:0, instance:com.zinier.web.tests.api.SolDevVersionControlTest@4ebea12c]<br/></td></tr>
<tr><td>smoke</td><td>SolDevVersionControlTest.createBranch(com.zinier.api.data.modals.BranchCreationModal)[pri:0, instance:com.zinier.web.tests.api.SolDevVersionControlTest@4ebea12c]<br/>SolDevVersionControlTest.switchBranchTest()[pri:1, instance:com.zinier.web.tests.api.SolDevVersionControlTest@4ebea12c]<br/>SolDevVersionControlTest.LoginTest()[pri:0, instance:com.zinier.web.tests.api.SolDevVersionControlTest@4ebea12c]<br/></td></tr>
</table>
