<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>RestAssuredAPIAutomation</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="67a798">  <td>21/03/30 12:38:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIBaseTest.APIBase()[pri:0, instance:com.zinier.web.tests.api.CrudPetTest@2f7c2f4f]">&gt;&gt;APIBase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=API-1@444022699</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>21/03/30 12:38:41</td>   <td>9490</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIBaseTest.APIBase()[pri:0, instance:com.zinier.web.tests.api.CrudUsersTest@6af93788]">&gt;&gt;APIBase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=API-1@444022699</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/03/30 12:38:48</td>   <td>15647</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CrudPetTest.DeletePetTest()[pri:3, instance:com.zinier.web.tests.api.CrudPetTest@2f7c2f4f]">DeletePetTest</td> 
  <td>TestNG-test=API-1@444022699</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/03/30 12:38:38</td>   <td>6469</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CrudPetTest.createPetTest()[pri:0, instance:com.zinier.web.tests.api.CrudPetTest@2f7c2f4f]">createPetTest</td> 
  <td>TestNG-test=API-1@444022699</td>   <td></td> </tr>
<tr bgcolor="826d77">  <td>21/03/30 12:38:41</td>   <td>9493</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CrudUsersTest.createUserTest()[pri:0, instance:com.zinier.web.tests.api.CrudUsersTest@6af93788]">createUserTest</td> 
  <td>TestNG-test=API-1@444022699</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/03/30 12:38:43</td>   <td>10705</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CrudPetTest.fetchPetTest()[pri:1, instance:com.zinier.web.tests.api.CrudPetTest@2f7c2f4f]">fetchPetTest</td> 
  <td>TestNG-test=API-1@444022699</td>   <td></td> </tr>
<tr bgcolor="826d77">  <td>21/03/30 12:38:44</td>   <td>11895</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CrudUsersTest.getUserTest()[pri:1, instance:com.zinier.web.tests.api.CrudUsersTest@6af93788]">getUserTest</td> 
  <td>TestNG-test=API-1@444022699</td>   <td></td> </tr>
<tr bgcolor="826d77">  <td>21/03/30 12:38:46</td>   <td>14463</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CrudUsersTest.loginUserTest()[pri:2, instance:com.zinier.web.tests.api.CrudUsersTest@6af93788]">loginUserTest</td> 
  <td>TestNG-test=API-1@444022699</td>   <td></td> </tr>
<tr bgcolor="826d77">  <td>21/03/30 12:38:49</td>   <td>17144</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CrudUsersTest.logoutUserTest()[pri:3, instance:com.zinier.web.tests.api.CrudUsersTest@6af93788]">logoutUserTest</td> 
  <td>TestNG-test=API-1@444022699</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/03/30 12:38:45</td>   <td>13301</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CrudPetTest.updatePetTest()[pri:2, instance:com.zinier.web.tests.api.CrudPetTest@2f7c2f4f]">updatePetTest</td> 
  <td>TestNG-test=API-1@444022699</td>   <td></td> </tr>
</table>
